*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
body{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow-x: hidden;

}
       
        #card i{
   font-size: 27px;
            color: rgb(217, 43, 43);
            display: inline;
        }
        #card{
          display: flex;
          width: 50px;
        }
        #card h1{
            display: inline;
        }
        
        nav{
           width: 100%;
           height: 50px; 
           
           display: flex;
           justify-content: space-between;
        align-items: center;
        }
#nav_centre{
    width: 50%;
  
    height: 40px;
    display: flex;
    justify-content: center;
align-items: center;
justify-content: space-around;

}
#nav_centre a{
  text-decoration: none;
  color: rgb(73, 71, 71);
  font-size: 1.2rem;
}
#nav_centre a:hover{
  text-decoration: underline;
  background-color: rgb(212, 196, 196);
  color: rgb(1, 1, 1);

}
#nav_left{
    margin-left: 40px;
    width: 20%;
}
#nav_right{
    display: flex;
    width: 20%;

    justify-content: space-between;
}

#hero_section{
    margin-top: 5px;
   width: 100%;
   height: 700px; 
  
   position: relative;
   z-index: 1;
   background: url(https://images.unsplash.com/photo-1542291026-7eec264c27ff);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#card_area{
    border: 2px solid red;
    display: none;
    flex-direction: column;
    width: 300px;
    height: 500px;
overflow-y: scroll;
  margin-left: 50%;
  position: relative;
  z-index: 4;
  background: rgb(221, 216, 216,0.8);
}
#cart_items{
    margin: 10px;
    width: 100%;
    border: 2px solid green;
    
  
}
.card_ele{
   border: 2px solid red;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
    
   width: 90%;
height: 250px;
  
   justify-content: center;
   align-items: center;
   padding-left: 20px;
}
.del_btn{
    width: 40%;
    margin-top: 10px;
}
.card_ele h1{
  font-size: 20px;
}
.card_ele h2{
font-size: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 2px;
}
.card_ele img{
  width: 80%;
  height: 100px;
}
.purchase{
  width: 40%;  
  align-self: center;
}

#s3{
    width: 90%;
    height: 600px;
    border: 2px solid red;
    overflow-y: scroll;
display: flex;
align-items: center;
flex-direction: column;

}
.srh_ele{
   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
    
   width: 30%;
height: 400px;
   margin-left: 20px;
   justify-content: center;
   align-items: center;
   background-color: white;
   border: 2px solid #f2b5a2;
   
}
#reset_btn{
    

   width: 80px;
   height: 30px;
     border-radius: 12px;

}
#category_list{
    display: flex;
flex-wrap: wrap;


}
#s3_top{
    margin-top: 20px;
    height: 40px;
    width: 90%;
    display: flex;
    
    justify-content: center;
    align-items: center;
background-color: #172033;
}
#srh{
   width: 40%;
   border-radius: 20px;
   height: 30px;
}
#s3_top button{
    margin-left: 10px;

   width: 100px;
   height: 30px;
     border-radius: 70px;
  background: #E76F51; 
  font-size: 16px;  
}

#category_area{

    width: 90%;
    display: flex;
justify-content: space-around;   align-items: center;
   height: 35px;
   border: 2px solid red;
   background-color: #FDE8DF;
  
}
#category_area button{
background-color: #FFFFFF;
 
height: 25px;
   width: 100px;
     border-radius: 20px;
     color: #172033;
     font-size: 15px;
}
#category_list{
    margin-top: 10px;
    width: 100%;
}
#s3{
    background-color:#FFF7F2;
}

#product_element img{
  width: 240px;
  height: 120px;
}
#product_head{
font-size:40px;
color: #172033;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.srh_ele h2{
    margin-top: 10px;
    color: #343a40;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn_list{
    display: flex;
    width: 100%;
   justify-content: center;
   margin-top: 10px;
}
.btn_list button{
  
      margin-left: 5px;
height: 28px;
   
     border-radius: 9px;
 
     font-size: 15px;

}
.delete-btn{
background-color:red ;
width: 80px;
}
.edit_btn{
background-color:blue ;
width: 120px;
}
.list_btn{
background-color: green;
width: 100px;
}
.s7{
  height: 320px;
  width: 90%;

  display: flex;
 background-color: rgb(232, 226, 226);
}
.s7b{
    margin-top: 20px;
  height:300px;
  width: 20%;
 
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
.s7b h1{
    margin-top: 10px;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight:990;
  font-style: normal;
  color: rgb(48, 48, 48);
}
.s7b h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(133, 132, 132);
margin-top: 14px;
}
.s7b span{
  display: flex;

}
.s7b img{
  height: 50px;
  width: 20%;
}
footer{
  width: 100%;
  height: 40px;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
.s6{
  width:100%;
  height: 600px;

  display: flex;
  flex-direction: column;

  align-items: center;
  
}
.s6_heading{
  height: 7%;
 display: flex;
 justify-content: center;
 align-items: center;
  width: 80%;
background-color: rgb(254, 199, 199);
}
.s6_heading h1{
  font-size: 35px;
  text-align: center;
  word-spacing:40px;
  letter-spacing: 20px;
  

}
.s6_main{

height: 90%;
  width: 80%;
  display: flex;
}
.form_details{
width: 50%;
height: 80%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 50px;

 
}
.form_details input{
 
  height: 40px;
  width: 85%;
  margin: 5px;
   
}
.form_details textarea{
margin: 5px;
  height: 170px;
  width: 85%;
}
.form_details button{
  
  height: 40px;
  width: 130px;
  font-size: 12px;
margin-left: 0px;
margin-bottom: 17px;
word-spacing: 2px;
    letter-spacing: 1px;
    border-radius: 80px;
    background-color: rgb(50, 50, 50);
    color: white;
}
.form_details button:hover{
  background-color:brown ;

}
.form_pic{
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.form_pic img{
    object-fit: contain;
height: auto;
width:100% ;
}
#product_text h2{
  margin: 0px;
  text-align: center;
}
.s5{
    
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
justify-content: space-between;
}
.s5_ele{
  background-color: white;
  height: 100px;
  display: flex;
   box-shadow:0px  2px 5px 4px rgb(79, 78, 78);
  flex-direction: row;
  width: 20%;
  
 
}

.service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100px ;
  width: 60%;
  align-items: center;
 
}
.service h1{
  
  font-size: 20px;

}
.service h3{
   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: rgb(145, 143, 143);
 
}
#service_img{
    height: 100px;
    width: 40%;
   
    display: flex;
    justify-content: center;
align-items: center;
}
#service_img i{
    scale: 4;
}
.s4{
    margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 440px;
}
.s4_heading{
width:100%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(254, 199, 199);
}
.s4_heading h1{
font-size: 40px;
word-spacing: 7px;
letter-spacing: 1px;
}
.s4_main{
  height: 350px;
  width: 100%;
 margin-top: 20px;
  display: flex;
  flex-direction: row;

}

.s4_ele{
  height: 300px;
  width: 30%;
 box-shadow: 0px 4px 10px rgb(79, 78, 78);

margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}
.s4_ele:hover{
  background-color: rgb(235, 225, 225);
 
 
}
.s4_ele span {
  display: flex;
  

}
.s4_ele span i{
  scale: 2;
  margin: 2px;
color: rgb(234, 70, 70);
margin-left: 20px;
margin-top: 20px;

}
.s4_ele p{
  font-size: 18px;
  color: rgb(57, 57, 57);
  text-align:start;
  padding: 20px;
  height: 120px;

}
.pro_details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100px ;
  margin-left: 20px;
  width: auto;
  align-items: center;
  
}
.pro_details h1{

  font-size: 28px;
  width: auto;
  height: auto;
}
.pro_details h3{
   font-size: 20px;

    
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    color: rgb(145, 143, 143);
  height: auto;
}
.profile{
  border: 2px solid rgb(240, 233, 233);
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 80%;
   box-shadow: 0px 3px 7px rgb(79, 78, 78);
margin-left: 25px;

}
.profile img{
  border: 2px solid rgb(81, 79, 79);
 
  object-fit: cover;
  border-radius: 50%;

}

@media   (max-width: 1221px) {
card_ele h2{
  font-size: 7px;
}

card_ele h1{
  font-size: 10px;
}

  .s4_main{
    flex-direction: column;
    height: 650px;
    width: 90%;
   margin-left: 8%;
  }
.s4_ele{
height: 200px;
width: 80%;

align-items: center;
flex-wrap: wrap;
flex-direction: row;
margin-top: 10px;
justify-content: center;
} 
.s4_ele i{
  scale: 2;
}
.s4{
  height:700px ;
}

#rating{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}
#s4_content{
  display: flex;
  width: 60%;
  flex-direction: column;
}
.s4_ele p{
 font-size: 15px;
}
.profile{
  height: 180px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile img{
  width: 50%;
  height: auto;
}
.pro_details{
  margin-left: 0px;
}
.pro_details h1{
font-size: 20px;
}
.pro_details h3{
font-size: 15px;
}
.s4_heading{
  font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
}
.srh_ele{
  width: 45%;

}
.nav_right{
  width:20%;

}
.card{
  display: flex;
flex-direction: row;
}
.s5{
  height:300px ;
}
.s5_ele{
  height: 200px;
  align-items: center;
  flex-direction: column;
}
.service{
 align-items: center;
 justify-content: center;
}
.s7{
  height: 400px;
}
#nav_left{
  font-size: 10px;

}
.form_pic img{
  scale: 1.4;
}
}


@media (max-width: 680px) {
.srh_ele{
  width: 90%;
  height: 250px;
}
#card_area{
  width: 50%;
}
#s4_content p{
  font-size: 10px;
}
.s4_heading h1{
font-size: 20px;
word-spacing: 3px;
letter-spacing: 0px;
}
.s4_main{
  width: 90%;

}
.s6_heading h1{

font-size: 20px;
  text-align: center;
  word-spacing:10px;
  letter-spacing: 0px;
}
#category_list{
  flex-direction: column;
}
#product_element{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
#product_element img{
  width: 50%;
  height: 80%;
}
.btn_list{
  height: 40px;
}
#product_text{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
#product_text h2{
  font-size: 20px;
  margin-top: 15px;
}
#category_name{
  margin-left: 50px;
}
#product_head{
  display: none;

}
.form_pic {
  display: none;
}
.form_details{
  margin: 2px;

  width: 90%;
  display: flex;
  flex-direction: column;
}
.form_details input{
width: 100%;
}
.form_details textarea{
width: 100%;
}
#nav_left{
  margin-left: 10px;
}
#nav_right{
  width: auto;
}
#reset_button{
  width: 80px;
}
#nav_centre{
flex-wrap: wrap;
}
#nav_centre a{
  margin-right: 8px;
}
#last_box{
  display: none;
}
.s7b{
  width: 30%;
}
#rating{
  margin-left: 10px;
}
#rating i{
  scale: 1.2;
  margin-left: 5px;
}
.s5{
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
  justify-content: center;
  align-items: center;
}
.s5_ele{
  height: 100px;
  width: 180px;
  flex-direction: row;
  margin: 5px;
}
}

@media (max-width: 400px) {
.s5{
  flex-direction: column;
 
  height: 500px;
  justify-content: center;
  align-items: center;
}
#product_text h2{
 
  margin-top: 10px;
}
footer h1{
  font-size: 10px;
}
.s5_ele{
  height: 100px;
  width: 80%;
  flex-direction: row;
  margin: 5px;
}
nav{
  height: 80px;
}
#nav_centre {
  flex-direction: column;
margin: 0;
flex-wrap: unset;
}
#nav_centre a{
  font-size: 1rem;
  height: 20px;
  margin-bottom: 3px;
}
.s4_ele{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
#s4_content{

  width: 100%;
 
  height: 50%;
  
}
#rating{
  /* height: 10px;
  margin-top: 0px;
  margin-bottom: 10px; */
}
 #rating i{
  /* display: none; */
  scale: 1;
  margin: 0px;
  margin-top: 5px;

}
.profile{
  flex-direction: row;
  width: 90%;
  height: 50%;
  margin: 0px;
 
}

#s4_content p{
 font-size: 10px;
}
.profile img{
  width: 45%;
  height: auto;
}
.s7b h1{
  font-size: 15px;
}
.s7b h3{
  font-size: 12px;
}
.s7{
  height: 250px;
  
}
.s6{
height: 450px;

}
.form_details{

 height: 400px;
 margin-top: 10px;
}

#pro_text h2{
  font-size: 15px;
  margin: 0px;
  text-align: center;
  margin-top: 20px;
}

} 
