*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
body{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow-x: hidden;

}
       
        #card i{
   font-size: 27px;
 
            
        /* margin-top: 17px; */
/* height: 40px; */
            color: rgb(217, 43, 43);
            display: inline;
        }
        #card{
          display: flex;
          width: 50px;
        }
        #card h1{
            display: inline;
        }
        #here_data{
            display: none;
        }
        nav{
           width: 100%;
           height: 50px; 
           
           display: flex;
           justify-content: space-between;
        align-items: center;
        }
#nav_centre{
    width: 50%;
  
    height: 40px;
    display: flex;
    justify-content: center;
align-items: center;
justify-content: space-around;

}
#nav_centre a{
    /* margin: 30px; */
    /* margin-left: 20px; */
}
#nav_left{
    margin-left: 40px;
    width: 20%;
}
#nav_right{
    display: flex;
    width: 20%;

    justify-content: space-between;
}
#here_data{
    display: none;
       
}
#hero_section{
    margin-top: 5px;
   width: 100%;
   height: 700px; 
  
   position: relative;
   z-index: 1;
   background: url(https://images.unsplash.com/photo-1542291026-7eec264c27ff);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
#here_data{
    border: 2px solid red;
    display: none;
    flex-direction: column;
    width: 300px;
    height: 500px;
overflow-y: scroll;
  margin-left: 50%;
  position: relative;
  z-index: 4;
  background: rgb(221, 216, 216,0.8);
}
#cart_items{
    margin: 10px;
    width: 100%;
    border: 2px solid green;
    
  
}
.card_ele{
   border: 2px solid red;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
    
   width: 90%;
height: 250px;
  
   justify-content: center;
   align-items: center;
   padding-left: 20px;
}
.del_btn{
    width: 40%;
    margin-top: 10px;
    /* margin:auto auto; */
}
.card_ele h1{
  font-size: 20px;
}
.card_ele h2{
font-size: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 2px;
}
.card_ele img{
  width: 80%;
  height: 100px;
}
.purchase{
  width: 40%;  
  align-self: center;
}
/* #card_img img{
 width: 80%;
 height: auto;
} */
/* #s2{
    width: 80%;
    height: 600px;
    border: 2px solid red;
    overflow-y: scroll;
} */
#s3-p{
    width: 90%;
    height: 600px;
    border: 2px solid red;
    overflow-y: scroll;
display: flex;
align-items: center;
flex-direction: column;

}
.srh_ele{
   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
    
   width: 30%;
height: 400px;
   margin-left: 20px;
   justify-content: center;
   align-items: center;
   background-color: white;
   border: 2px solid #f2b5a2;
   
}
#reset_btn{
    

   width: 80px;
   height: 30px;
     border-radius: 12px;
  /* background: #E76F51;  */
}
#category_list{
    display: flex;
flex-wrap: wrap;


}
#s4-p{
    margin-top: 20px;
    height: 40px;
    width: 90%;
    display: flex;
    
    justify-content: center;
    /* border: 2px solid #0000ff; */
    align-items: center;
background-color: #172033;
}
#srh{
   width: 40%;
   border-radius: 20px;
   height: 30px;
}
#s4-p button{
    margin-left: 10px;

   width: 100px;
   height: 30px;
     border-radius: 70px;
  background: #E76F51; 
  font-size: 16px;  
}
#srh_btn{

}
#cate_div{
    /* background-color: rgb(161, 166, 169); */
    width: 90%;
    display: flex;
justify-content: space-around;   align-items: center;
   height: 35px;
   border: 2px solid red;
   background-color: #FDE8DF;
  
}
#cate_div button{
background-color: #FFFFFF;
 
height: 25px;
   width: 100px;
     border-radius: 20px;
     color: #172033;
     font-size: 15px;
}
#category_list{
    margin-top: 10px;
    width: 100%;
}
#s3-p{
    background-color:#FFF7F2;
}
#pd_img{
 
}
#pro_elem img{
  width: 240px;
}
#pd_head{
font-size:40px;
color: #172033;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.srh_ele h2{
    margin-top: 10px;
    color: #343a40;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn_list{
    display: flex;
    width: 100%;
   justify-content: center;
   margin-top: 10px;
}
.btn_list button{
    /* background-color: #FFFFFF; */
      margin-left: 5px;
height: 28px;
   
     border-radius: 9px;
     /* color: #172033; */
     font-size: 15px;

}
.delete-btn{
background-color:red ;
width: 80px;
}
.edit_btn{
background-color:blue ;
width: 120px;
}
.list_btn{
background-color: green;
width: 100px;
}
.s7{
  height: 320px;
  width: 90%;

  display: flex;
 background-color: rgb(232, 226, 226);
}
.s7b{
    margin-top: 20px;
  height:300px;
  width: 20%;
 
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
.s7b h1{
    margin-top: 10px;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight:990;
  font-style: normal;
  color: rgb(48, 48, 48);
}
.s7b h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(133, 132, 132);
margin-top: 14px;
}
.s7b span{
  display: flex;

}
.s7b img{
  height: 50px;
  width: 20%;
}
footer{
  width: 100%;
  height: 40px;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
.s6{
  width:100%;
  height: 600px;

  display: flex;
  flex-direction: column;

  align-items: center;
  
}
.s6h{
  height: 7%;
 display: flex;
 justify-content: center;
 align-items: center;
  width: 80%;
background-color: rgb(254, 199, 199);
}
.s6h h1{
  font-size: 35px;
  text-align: center;
  word-spacing:40px;
  letter-spacing: 20px;
  

}
.s6b{

height: 90%;
  width: 80%;
  display: flex;
}
.inp{
width: 50%;
height: 80%;
/* scale: 1.2; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 50px;
 /* margin-left: 120px; */
 
}
.inp input{
 
  height: 40px;
  width: 85%;
  margin: 5px;
   
}
.inp textarea{
margin: 5px;
  height: 170px;
  width: 85%;
}
.inp button{
  
  height: 40px;
  width: 130px;
  font-size: 12px;
margin-left: 0px;
margin-bottom: 17px;
word-spacing: 2px;
    letter-spacing: 1px;
    border-radius: 80px;
    background-color: rgb(50, 50, 50);
    color: white;
}
.inp button:hover{
  background-color:brown ;

}
.pic{
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.pic img{
    object-fit: contain;
height: auto;
width:100% ;
}
#pro_text h2{
  margin: 0px;
  text-align: center;
}
.s3{
    
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
justify-content: space-between;
}
.box{
  background-color: white;
  height: 100px;
  display: flex;
   box-shadow:0px  2px 5px 4px rgb(79, 78, 78);
  flex-direction: row;
  width: 20%;
  
  /* margin: 15px; */
 
}
/* .box i{
    margin: 0px;
    padding: 0px;
   scale: 4;

} */
.bc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100px ;
  width: 60%;
  align-items: center;
 
}
.bc h1{
  
  font-size: 20px;

}
.bc h3{
   font-size: 15px;
   /* margin-top: -20px; */
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: rgb(145, 143, 143);
 
}
#b_img{
    height: 100px;
    width: 40%;
   
    display: flex;
    justify-content: center;
align-items: center;
}
#b_img i{
    scale: 4;
}
.s5{
    margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 440px;
  /* border: 2px solid red; */
}
.rh{
  /* margin-top: 50px; */
width:100%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(254, 199, 199);
}
.rh h1{
font-size: 40px;
word-spacing: 7px;
letter-spacing: 1px;
}
.rf{
  height: 350px;
  width: 100%;
 margin-top: 20px;
  display: flex;
  flex-direction: row;

}

.rb{
    /* margin-top: 25px; */
  height: 300px;
  width: 30%;
 box-shadow: 0px 4px 10px rgb(79, 78, 78);
  /* position: relative;
  z-index: 2; */
margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}
.rb:hover{
  background-color: rgb(235, 225, 225);
 
 
}
.rb span {
  display: flex;
  

}
.rb span i{
  scale: 2;
  margin: 2px;
color: rgb(234, 70, 70);
margin-left: 20px;
margin-top: 20px;

}
.rb p{
  font-size: 18px;
  color: rgb(57, 57, 57);
  text-align:start;
  padding: 20px;
  height: 120px;

}
.bca{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100px ;
  margin-left: 20px;
  width: auto;
  align-items: center;
  
}
.bca h1{
  /* margin-left: -90px; */
  font-size: 28px;
  width: auto;
  height: auto;
}
.bca h3{
   font-size: 20px;
   /* margin-top: -20px; */
    
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    /* margin-left: -90px; */
    color: rgb(145, 143, 143);
  height: auto;
}
.bx{
  border: 2px solid rgb(240, 233, 233);
  height: 100px;
  display: flex;
  flex-direction: row;
  width: 80%;
   box-shadow: 0px 3px 7px rgb(79, 78, 78);
  /* position: relative;
  z-index: 2; */
margin-left: 25px;
  /* margin: 20px; */
  /* padding-left: 20px;
  scale: 1.1;
  margin-bottom: 40px; */
}
.bx img{
  /* margin-left: -10px; */
  border: 2px solid rgb(81, 79, 79);
  /* width: 20%;
  height: 20%; */
  object-fit: cover;
  border-radius: 50%;

}

@media   (max-width: 1221px) {
card_ele h2{
  font-size: 7px;
}

card_ele h1{
  font-size: 10px;
}

  .rf{
    flex-direction: column;
    height: 650px;
   margin-left: 8%;
  }
.rb{
height: 200px;
width: 80%;

align-items: center;
flex-wrap: wrap;
flex-direction: row;
margin-top: 10px;
justify-content: center;
} 
.rb i{
  scale: 2;
}
.s5{
  height:700px ;
}
#star{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}
#sms{
  display: flex;
  width: 60%;
  flex-direction: column;
}
.rb p{
 /* margin-top: 5px; */
 font-size: 15px;
}
.bx{
  /* margin-top: 20px; */
  /* border: 2px solid red; */
  height: 180px;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bx img{
  width: 50%;
  height: auto;
}
.bca{
  margin-left: 0px;
}
.bca h1{
font-size: 20px;
}
.bca h3{
font-size: 15px;
}
.rh{
  font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
}
.srh_ele{
  width: 45%;

}
.nav_right{
  width:20%;

}
.card{
  display: flex;
flex-direction: row;
}
.s3{
  height:300px ;
}
.box{
  height: 200px;

  align-items: center;
  flex-direction: column;
}
.bc{
 align-items: center;
 justify-content: center;
}
.s7{
  height: 400px;
}
#nav_left{
  font-size: 10px;

}
.pic img{
  scale: 1.4;
}
}


@media (max-width: 680px) {
.srh_ele{
  width: 90%;
  height: 250px;
}
#here_data{
  width: 50%;
}
#sms p{
  font-size: 10px;
}
.rh h1{
font-size: 20px;
word-spacing: 3px;
letter-spacing: 0px;
}
.s6h h1{

font-size: 20px;
  text-align: center;
  word-spacing:10px;
  letter-spacing: 0px;
}
#category_list{
  flex-direction: column;
}
#pro_elem{
  display: flex;
}
#pro_elem img{
  width: 50%;
  height: auto;
}
.btn_list{
  height: 40px;
}
#pro_text{
  
  display: flex;
  flex-direction: column;
 
  align-items: center;
}
#pro_text h2{
  font-size: 20px;
}
#catee{
  margin-left: 50px;
}
#pd_head{
  display: none;

}
.pic {
  display: none;
}
.inp{
  margin: 2px;

  width: 90%;
  display: flex;
  flex-direction: column;
  /* margin-left: 20px; */
}
.inp input{
width: 100%;
}
.inp textarea{
width: 100%;
}
#nav_left{
  margin-left: 10px;
}
#nav_right{
  width: auto;
}
#reset_button{
  width: 80px;
}
#nav_centre{
flex-wrap: wrap;
}

#last_box{
  display: none;
}
.s7b{
  width: 30%;
}
.s3{
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
  justify-content: center;
  align-items: center;
}
.box{
  height: 100px;
  width: 180px;
  flex-direction: row;
  margin: 5px;
}
}

@media (max-width: 400px) {
.s3{
  flex-direction: column;
 
  height: 500px;
  justify-content: center;
  align-items: center;
}
.box{
  height: 100px;
  width: 80%;
  flex-direction: row;
  margin: 5px;
}
nav{
  height: 80px;
}
#nav_centre {
  flex-direction: column;
margin: 0;
flex-wrap: unset;
}
#nav_centre a{
  height: 20px;
  margin-bottom: 5px;
}
.rb{
  flex-direction: column;
 
}
#star{
  display: none;
}
.bx{
  flex-direction: row;
  width: 90%;
  height: 100px;
  
   margin-top: 10px;
   margin-left: 0px;
}
#sms{
  width: 100%;
 
  height: 70px;
  margin: 0%;
}
#sms p{
 font-size: 10px;
}
.bx img{
  width: 80px;
  height: 80px;
}
.s7b h1{
  font-size: 15px;
}
.s7b h3{
  font-size: 12px;
}
.s7{
  height: 250px;
  
}
.s6{
height: 450px;

}
.inp{

 height: 400px;
 margin-top: 10px;
}
#pro_text{
  
}
#pro_text h2{
  font-size: 15px;
  margin: 0px;
  text-align: center;
  margin-top: 20px;
}
} 
